@charset 'UTF-8';
@import './utils/_utils.scss';

.todolist {
  width: 100%;
  margin: auto;
}

.todolist__header {
  display: flex;
  align-items: center;

  &-fieldset {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &-control {
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 10px;
  }
}

.todolist__type {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include min-width(640px + 20px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn {
    min-width: 60px;

    &.current {
      background-color: $color-blue-dark;
    }
  }
}

.todolist__list {
  > li {
    margin-bottom: 1rem;
  }
}

.todolist__item {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $color-white;
  border: 1px $color-white solid;
  border-radius: 3px;

  &-content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;

    span {
      color: $color-blue-dark;
    }
  }

  &-control {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
